<%= search_form_for ransack, url: inventarios_path, class: 'p-4 flex items-end overflow-x-auto justify-between w-full gap-2  px-6' do |f| %>
  <div class=''>
    <div class='font-semibold text-lg'>Loja:</div>
    <%= f.select :loja_id_eq, options_for_select(Loja.all.pluck(:nome, :id)), {include_blank: 'Escolha um Remetente'}, {onchange:'this.form.requestSubmit()', class: 'select'} %>
  </div>

  <div class='flex gap-2 justify-start'>

      <div class='flex flex-col font-semibold text-lg'>
      <div> Desde: </div>
      <%= f.date_field :data_da_compra_gteq, class: 'input' %>
    </div>

    <div class='font-semibold text-lg'>
      <div>Até: </div>
      <%= f.date_field :data_da_compra_lteq, class: 'input' %>
    </div>
    <div class='w-fit font-semibold grow-0 text-lg'>
      <div>Id:</div>
      <%= f.text_field :id_cont, class: 'w-full input', placeholder: "1234", id: 'nomeInput', data: { action: 'inventarios#search' } %>
    </div>

    <div class='w-fit font-semibold grow-0 text-lg'>
      <div>Objeto:</div>
      <%= f.text_field :nome_cont, class: 'w-full input', placeholder: "Caneta Azul", id: 'nomeInput', data: { action: 'inventarios#search' } %>
    </div>

  </div>

  <div>
    <%= link_to inventarios_path,
      class: 'flex py-2 bg-red-300 hover:bg-red-500 px-2 rounded-md items-center text-black transition-colors' do %>
      <div class="mi">delete</div>
      <div>Limpar Parâmetros</div>
    <% end %>
  </div>
  <% end %>
