<turbo-frame id='table-content' class='overflow-y-auto border-2 border-base-100 overflow-x-auto h-full'>
  <table class='table table-pin-rows'>
    <thead class='text-lg'>
      <tr>
        <th><%= sort_link(ransack, :id, "Id") %></th>
        <th><%= sort_link(ransack, :data_da_compra, "Data do Compra") %></th>
        <th><%= sort_link(ransack, :loja_nome, "Loja proprietária") %></th>
        <th><%= sort_link(ransack, :estado, "Estado") %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id='table'>
      <% items.each do |item| %>
        <tr class='hover'>
          <td><%= item.id %></td>
          <td><%= item.data_da_compra.strftime("%d/%m/%Y") %></td>
          <td><%= item.nome %></td>
          <td><%= item.loja.nome %></td>
          <td><%= estado_badge(item.estado) %></td>
          <td>
            <%= link_to inventarios_path(id: item), class: 'inline-flex gap-1 text-lg btn btn-sm btn-info' do %>
              <span class="mi">notes</span>
              Detalhes
            <% end %>
          </td>
          <td><input type="checkbox" name="<%= item.id %>" data-action='click->items--select#setCheck' data-items--select-target='checkbox' class='checkbox'></td>
        <% end %>
    </tbody>
  </table>
</turbo-frame>
