<%= render partial: 'layouts/header', locals: { links: [{uri: '/', title: 'Início'}, {uri: nil, title: 'Inventarios'}] } %>
<%= turbo_frame_tag 'item_view' do %>
  <div id='table' class='m-8 bg-white h-[87dvh] rounded-2xl'>
    <%= render partial: 'table_control', locals: {:ransack => @ransack_query, :pagy => @pagy} %>
    <div class='overflow-y-auto h-[68dvh]'>
      <table class='overflow-y-auto table table-fixed'>
        <thead>
          <tr class='text-lg'>
            <th><%= sort_link(@ransack_query, :id, "Id", default_order: :desc) %></th>
            <th><%= sort_link(@ransack_query, :nome, "Nome") %></th>
            <th><%= sort_link(@ransack_query, :loja_nome, "Loja") %></th>
            <th><%= sort_link(@ransack_query, :estado, "Estado") %></th>
            <th>Detalhes</th>
            <th><%= sort_link(@ransack_query, :data_da_compra, "Data da compra", default_order: :desc) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr class='text-md'>
              <th><%= item.id %></th>
              <td class='text-md'><%= item.nome %></td>
              <td class='text-md'><%= item.loja.nome %></td>
              <td class='text-md'><%= estado_badge(item.estado) %></td>
              <td class='text-md'><%= item.observacoes %></td>
              <td class='text-md'><%= item.data_da_compra.strftime('%d/%m/%Y') %></td>
              <td>
                <%= link_to inventario_path(item), class: 'btn btn-accent btn-sm' do %>
                  <div class="mi">menu_book</div>
                  <div>Detalhes</div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='p-4 flex border-t-2 border-t-gray-200 justify-between'>
      <%== pagy_items_selector_js(@pagy, item_name: 'Item'.pluralize(@pagy.count)) %>
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
<% end %>
