
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "flex-1 grow flex flex-col" }) do |f| %>
  <h1 class='text-3xl font-bold self-center mb-5'>Redefinir senha</h1>

  <label class='form-control'>
    <div class="label">
      <%= f.label :email, class: 'label-text' %><br />
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input input-bordered' %>
  </label>

  <div class="actions mt-5">
    <%= f.submit "Confirmar", class: 'btn btn-primary' %>
  </div>

  <div class='mt-5'>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

