<%= form_for @user, url: admin_conta_update_password_path, html:{class: "my-4 flex flex-col items-center"} do |f| %>
  <h1 class="text-3xl font-bold self-center">Alterar Senha</h1>

  <label>
    <div class="label">
      <%= f.label :password, 'Senha', class: "label-text" %><br />
    </div>
    <%= f.password_field :password, autocomplete: "current-password", class: 'input input-bordered' %>
  </label>

  <label>
    <div class="label">
      <%= f.label :password_confirmation, 'Confirmar senha (Mínimo de 6 dígitos)', class: "label-text" %><br />
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input input-bordered' %>
  </label>

  <% if @user.errors.any? %>
    <div class='alert mt-4 alert-error w-fit'>
      <div class="mi">
        error
      </div>
      <div>
        <%= @user.errors.messages[:password].first %>
      </div>
    </div>
  <% end %>

  <div class="actions mt-10 flex justify-between items-center mt-5">
    <%= f.submit "Confirmar", class: "btn btn-primary" %>
  </div>
<% end %>
