<div id='itemform' class="h-fit grid border-b-2 border-base-300 grid-cols-subgrid col-span-5 ">
  <%= item_form.text_field :nome, class: "bg-base-100 border-base-200 border-2"  %>
  <%= item_form.number_field :quantidade, class: "bg-base-100 border-base-200 border-2"  %>
  <%= item_form.text_field :porcao, class: "bg-base-100 border-base-200 border-2"  %>
  <%= item_form.text_field :observacoes, class: "bg-base-100 border-base-200 border-2"  %>
  <% if is_update %>
    <button type='button' data-action='pedidos--update-form#removeItem' id='<%= item_form.index %>' data-action='pedidos--create-form#removeitem' class='mi bg-red-400 hover:bg-red-300 transition-colors text-black'>
      delete
    </button>    
    <%= item_form.check_box :_destroy, class: "hidden" %>
  <% else %>
    <% if action_name == 'edit' %>
    <button type='button' data-action='pedidos--update-form#deleteItem' class='mi bg-red-400 hover:bg-red-300 transition-colors text-black'>
    <% else %>
    <button type='button' data-action='pedidos--create-form#removeItem' class='mi bg-red-400 hover:bg-red-300 transition-colors text-black'>
    <% end %>
      delete
    </button>    
  <% end %>
</div>
