<tr class='h-[1dvh]'>
  <%= f.fields_for :item do |i| %>
  <td>
    <%= i.text_field :nome, class: 'input input-bordered w-full text-ellipsis', placeholder: 'Ex: Papel A4' %>
  </td>
  <td>
    <%= i.number_field :quantidade, class: 'input input-bordered w-full', placeholder: 'Ex: 12' %>
  </td>
  <td>
    <%= i.text_field :porcao, class: 'input input-bordered w-full', placeholder: 'Ex: Pacote de cem' %>
  </td>
  <td>
    <%= i.text_field :observacoes, class: 'input input-bordered w-full', placeholder: 'Ex: Marca Chamex' %>
  </td>
  <% end %>
</tr>
