  <table class="overflow-x-auto table table-pin-rows table-auto">
    <thead>
      <tr class='text-base'>
        <th><%= sort_link(@ransack_query, :id, "Id") %></th>
        <th><%= sort_link(@ransack_query, :data_do_pedido, "Data do Pedido") %></th>
        <th><%= sort_link(@ransack_query, :loja_nome, "Origem") %></th>
        <th><%= sort_link(@ransack_query, :status, "Status") %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody data-controller='pedidos--select' data-pedidos--select-pedidos--status-outlet='.status-select'>
      <% pedidos.each do |pedido| %>
        <tr class='hover'>
          <th><%= pedido.id %></td>
          <td><%= pedido.data_do_pedido.strftime("%d/%m/%Y") %></td>
          <td><%= pedido.loja.nome %></td>
          <th id='badge_<%=pedido.id%>'><%= status_badge(pedido.status) %></th>
          <td><%= link_to 'Detalhes', pedido_path(pedido), class: 'btn btn-sm btn-info', data: {turbo_frame: "_top"} %></td>
          <td><input type="checkbox" name="<%= pedido.id %>" data-action='click->pedidos--select#setCheck' data-pedidos--select-target='checkbox' class='checkbox'></td>
        </tr>
      <% end %>
    </tbody>
  </table>
