<%= search_form_for @ransack_query, class: 'py-5 overflow-x-auto grid grid-rows-[1fr_99fr] gap-y-2 gap-x-6 grid-cols-6 px-6' do |f|
  %>
  <div class="row-span-1 col-span-3 grid grid-cols-subgrid">
    <div class='font-semibold text-lg'>Loja:</div>

    <div class='font-semibold text-lg'>Desde:</div>

    <div class='font-semibold text-lg'>Até:</div>
  </div>
  <div class="row-span-1 col-span-6 grid grid-cols-subgrid">
    <div class='col-span-3 grid grid-cols-subgrid'>
      <%= f.select :loja_id_eq, options_for_select(Loja.all.pluck(:nome, :id)), {include_blank: true}, {class: 'select'
        } %>
        <%= f.date_field :data_do_pedido_gteq, class: 'input' %>
          <%= f.date_field :data_do_pedido_lteq, class: 'input' %>
    </div>
    <div class='col-span-3 grid grid-cols-subgrid'>
      <button class='btn btn-info' type='submit'>
        <div class="mi">search</div>
        Buscar
      </button>
      <a href='<%= pedidos_path %>' class='btn btn-error'>
        <div class="mi">delete</div>
        Limpar
      </a>
      <a href='<%= new_pedido_path %>' class='btn btn-success'>
        <div class="mi">add</div>
        Adicionar
      </a>
    </div>
  </div>
  <% end %>
