<%= javascript_include_tag "carousel" %>
<div class="h-screen">
  <div class="text-2xl pb-10">pedidos aqui</div>
  <tbody class="flex">
    <% @pedidos.each do |pedido| %>
        <div flex flex-row>
          <td><%= pedido.estado %></td>
          <td><%= pedido.loja_id %></td>
        </div>
        <tr>
          <%= link_to "Show", pedido, class: "btn"%>
          <%= link_to "Destroy", pedido, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </tr>
    <% end %>
  <%= link_to "Add", new_pedido_path %>
  </tbody>
</div>