<%= turbo_frame_tag "content", class: "" do %>
  <%= render partial: 'layouts/header',
    locals: {
      links: [
        {title: 'Início', uri: home_path},
        {title: 'Pedidos', uri: pedidos_path},
        {title: 'Novo Pedido', uri: nil}
      ]} %>
    <div class='h-[89dvh] flex justify-center items-center'>
      <div class='relative h-[70%] py-12 border-2 rounded-xl shadow-xl border-gray-300'>
        <%= link_to pedidos_path, class: "mi md-36 absolute top-5 left-5", data: { turbo_action: 'advance' } do %>
          <span class="rounded-2xl p-2 hover:bg-gray-400 duration-300">arrow_back</span>
        <% end %>
        <h1 class='text-6xl mx-auto font-medium w-[60%] text-center'>Informações Gerais do Pedido</h1>
        <%= form_with model: @pedido, class: "p-3 grid gap-y-7 grid-cols-2 grid-rows-auto my-5" do |f| %>
          <div class="mx-10 flex flex-col">
            <%= f.label :data_do_pedido, 'Data do Pedido', class: 'font-semibold text-lg' %>
            <%= f.date_field :data_do_pedido, class:"rounded-xl" %>
            <% @pedido.errors.messages_for(:data_do_pedido).each do |message| %>
              <small class='text-xs text-red-300'>
                <%= message %>
              </small>
            <% end %>
          </div>
          <div class="mx-10 flex flex-col">
            <%= f.label :loja_id, 'Loja Remetente', class: 'font-semibold text-lg' %>
            <%= f.select :loja_id, options_for_select(@pedido.loja_options), {include_blank:true}, {class: 'rounded-xl'} %>
            <small class='text-xs text-red-300'>
              <%= @pedido.errors.messages_for(:loja_id)[0] %>
            </small>
          </div>
          <div class="mx-10 col-span-2 flex flex-col">
            <%= f.label :observacoes, "Observações", class: 'font-semibold text-lg' %>
            <%= f.text_area :observacoes, {class: 'rounded-xl grow',  rows: 6, placeholder: "Detalhes adicionais (Opcional)..."} %>
            <% @pedido.errors.messages_for(:observacoes).each do |message| %>
              <small class='text-xs text-red-300'>
                <%= message %>
              </small>
            <% end %>
          </div>
          <div class='col-start-2 text-right mx-10'>
            <%= f.button class: ' text-right w-fit btn bg-green-300 hover:bg-green-500' do %>
              <span class="">Confirmar informações</span>
              <span class="mi">navigate_next</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
