<%= turbo_frame_tag 'items_form' do %>
  <div class='grid grid-cols-[repeat(4,200px)_130px] px-2 w-full gap-x-2'>
    <%= form_builder.text_field :nome, class:'input', placeholder: "Ex: Caneta, Camisa..." %>
    <%= form_builder.number_field :quantidade, class:'input', value: "", placeholder: '1' %>
    <%= form_builder.text_field :porcao, class:'input', value: "", placeholder: "Ex: Unidade, Dezena..."  %>
    <%= form_builder.text_field :observacoes, class:'input text-ellipsis', placeholder: "Ex: 5 Tamanho G, marca bic azul..." %>
    <span class='flex justify-center items-center w-full'>
      <%= link_to '', class: "rounded-xl bg-red-200 p-2 hover:bg-red-400 duration-300 flex gap-x-1" do %>
        <span class='mi'>cancel</span>
        <p class='font-semibold'>Excluir</p>
      <% end %>
    </span>
  </div>
<% end %>
