<turbo-frame id='compra_details' data-controller='compras' class='my-auto mx-20'>
  <div class='rounded-box h-full grid items-center p-10 bg-base-300 gap-3'>
    <%= link_to compra_path(@compra), data: {turbo_frame: "_top", turbo_action: 'advance'}, class: 'rounded-box h-fit p-3 hover:bg-base-100 transition transition-colors w-fit' do %>
      <div class="mi">arrow_back</div>
    <% end %>
    <div class='grid grid-cols-2'>
      <%= form_with model: @compra, html: {class: "col-span-2 grid grid-cols-subgrid"} do |form| %>
        <%= render 'compras/template', compra: @compra, form: form %>

        <%= render 'compras/compra_form', form:, title: "Editar Compra", is_update: true %>
        <div class="h-[50dvh] rounded bg-base-100 border-gray-600 border-2 overflow-x-hidden overflow-y-auto">
          <div data-compras-target='itemsList' class='grid grid-cols-[minmax(0,_1fr)_minmax(0,_1fr)_minmax(0,_1fr)_minmax(0,_1fr)_5rem] grid-rows-auto'>
            <div class='grid bg-gray-800 h-fit grid-cols-subgrid col-span-5 divide-x-2'>
              <div class='border-b-2 text-semibold text-center border-gray-400 p-2'>
                Nome
              </div>
              <div class='border-b-2 text-semibold text-center border-gray-400 p-2'>
                Observações
              </div>
              <div class='border-b-2 text-semibold text-center border-gray-400 p-2'>
                Porção
              </div>
              <div class='border-b-2 text-semibold text-center border-gray-400 p-2'>
                Estado
              </div>
              <div class='border-b-2 text-semibold text-center border-gray-400 p-2'>
              </div>
            </div>
            <%= form.fields_for :items_de_compras do |item_form| %>
              <%= render 'compras/item_form', item_form:, is_update: true %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
