<div class="text-4xl mb-4 font-bold">Informações Gerais do Item</div>
<div class='text-lg inline-flex gap-1'>
  <p class='font-semibold'>Nome: </p>
  <p class="font-normal">
    <%= item.nome %>
  </p>
</div>
<div class='text-lg font-semibold'>
  Na Loja: <%= link_to item.loja.nome.capitalize, inventarios_path("q[loja_id_eq]": item.loja.id), class:'link
    link-info' %>
</div>
<div class='text-lg font-semibold'>
  Data da Compra: <%= link_to item.compra.data_da_compra.strftime("%d/%m/%Y"), compras_path("q[data_da_compra_eq]": item.compra.data_da_compra.strftime("%d/%m/%Y")), class:'link
    link-info', data: {turbo_frame: '_top'} %>
</div>
<div class='text-lg inline-flex gap-1'>
  <p class='font-semibold'>Estado: </p>
  <p class="font-normal">
    <%= item.pretty_estado %>
  </p>
</div>
<div class='text-lg font-normal inline-flex gap-1'>
  <p class='font-semibold'>Observações: </p>
  <% if item.observacoes.nil? or item.observacoes.empty? %>
    Nenhuma
  <% else %>
    <%= item.observacoes %>
  <% end %>
</div>
<div class='text-lg font-semibold gap-4'>Código de Barra: </div>
<img data-controller="barcode" data-barcode=<%=item.codigo_de_barra%>>
