<%= render "inventarios/bulk_update_modal" %>

<div class='absolute right-5 top-5 flex gap-2 items-center'>
  <%= 
    button_tag data: {inventarios_target: "button", action: "click->inventarios#openModal"},
      disabled: true,
      class: 'inline-flex py-2 btn btn-accent px-2 rounded-md items-center text-black transition-colors' do
    %>
    <div class="mi">list</div>
    Atualizar item(s)
    <% end %>
</div>

<%= search_form_for ransack, url: inventarios_path,  data: {turbo_frame: "data_body"}, class: 'grid gap-3 grid-rows-2 overflow-x-auto w-full py-4 px-6'  do |f| %>
  <div class="row-span-1 flex justify-between">
    <div class='inline-flex font-bold text-2xl items-center gap-3'>
      Loja:
      <%= f.select :loja_id_eq, options_for_select(Loja.all.pluck(:nome, :id)), {include_blank: 'Escolha a unidade'}, {onchange:'this.form.requestSubmit()', class: 'text-lg select'} %>
    </div>
  </div>

  <div class='flex justify-between'>
    <div class='flex gap-5 justify-start'>
      <div class='flex items-center gap-2 font-semibold text-lg'>
        <div> Data da Compra: </div>
        <%= f.date_field :data_da_compra_gteq, class: 'input', data: {inventarios_target: "field"} %>
      </div>

      <div class='flex items-center gap-2 w-fit font-semibold grow-0 text-lg'>
        <div>Id:</div>
        <%= f.text_field :id_eq, class: 'w-full input', placeholder: "1234", id: 'nomeInput', data: {inventarios_target: "field"} %>
      </div>

      <div class='flex items-center gap-2 w-fit font-semibold grow-0 text-lg'>
        <div>Objeto:</div>
        <%= f.text_field :nome_cont, class: 'w-full input', placeholder: "Caneta Azul", id: 'nomeInput', data: {inventarios_target: "field"} %>
      </div>
    </div>

    <div class='flex gap-2 items-center'>
      <button type='submit' turbo-target='data-content' class='btn btn-info'>
        <div class="mi">search</div>
        <div>Buscar</div>
      </button>
      <button type="button" class='btn btn-error' data-action='inventarios#clearSearch'>
        <a id='clearForm' class='flex items-center gap-1' data-inventarios-target='clearBtn' data-turbo-frame='table' href="<%= inventarios_path %>">
          <div class="mi">close</div>
          <div>Limpar</div>
        </a>
      </button>
    </div>
  </div>
<% end %>
