<turbo-frame data-controller='inventarios' id='content' class='my-18 p-10 mx-10'>
  <%= render 'inventarios/edit_modal', item: @item, field: 'observations' %>
  <%= render 'inventarios/edit_modal', item: @item, field: 'state' %>
  <%= render 'inventarios/edit_modal', item: @item, field: 'transfer' %>
  <div class='bg-base-200 py-4 grid auto-cols-auto rounded-box h-full'>
    <div class='mx-8 col-span-1'>
      <a href='<%= inventarios_path %>' class='rounded-btn mi md-24 p-2 transition-colors hover:bg-stone-500 '>
        arrow_back
      </a>
    </div>
    <div class='grid grid-cols-2 col-span-1 gap-8 px-24 pt-8 pb-4'>
      <div id='main_info' class='flex flex-col gap-2'>
        <%= render 'inventarios/item', item: @item %>
      </div>
      <div id='history' class='h-full overflow-y-scroll'>
        <div class="text-3xl mb-10 font-semibold">Histórico de Localizações</div>
        <%= render 'inventarios/item_history', item: @item %>
      </div>
    </div>
    <div class='space-x-4 mt-4 px-24 col-span-1'>
      <button type='button' class='btn btn-success w-fit' data-action="inventarios#openStateModal">
        <div class='mi'>health_and_safety</div>
        Atualizar Estado
      </button>
      <button type='button' class='btn btn-info w-fit' data-action="inventarios#openObservationsModal">
        <div class='mi'>info</div>
        Modificar observações
      </button>
      <button type='button' class='btn btn-accent w-fit' data-action="inventarios#openTransferModal">
        <div class='mi'>local_shipping</div>
        Transferir de unidade
      </button>
    </div>
  </div>
</turbo-frame>
