<nav class='text-white max-2xl:h-[15dvh] max-2xl:items-center bg-blue-800 flex 2xl:flex-col justify-between 2xl:py-4 2xl:w-[12dvw] 2xl:h-screen'>
  <div class='p-4'>
    <%= image_tag 'logo', class: 'w-[10dvw] h-auto' %>
  </div>
  <ul class='menu-horizontal menu 2xl:menu-vertical  text-lg'>
    <li class='text-lg'>
      <%= link_to home_path do %>
        <span class="material-icons">
          home
        </span>
        Início
      <% end %>
    </li>
    <li class='text-lg'>
      <%= link_to pedidos_path do %>
        <span class="material-icons">
          checklist
        </span>
        Pedidos
      <% end %>
    </li>
    <li class='text-lg'>
      <%= link_to compras_path do %>
        <span class="material-icons">
          shopping_cart
        </span>
        Compras
      <% end %>
    </li>
    <li class="text-lg">
      <%= link_to items_path do %>
        <span class="material-icons">
          inventory
        </span>
        Inventários
      <% end %>
    </li>
  </ul>
  <footer class="max-2xl:hidden text-white"><small class='max-2xl:hidden mb-4 ml-4'><%= Time.now.strftime('%s') %></small></footer>
</nav>
