<aside style='background-color: #284281;' class='text-stone-50 p-4 top-0 left-0 flex flex-col w-[10dvw] justify-between h-screen fixed'>
  <%= image_tag 'logo' %>
  <ul class='flex flex-col gap-2'>
    <il class='flex flex-row gap-2 w-full'>
      <span class="material-symbols-outlined">
        home
      </span>
      <%= link_to 'Início', home_path, class: "hover:translate-x-2 duration-200"%>
      </il>
    <il class='flex flex-row gap-2 w-full'>
      <span class="material-symbols-outlined">
        checklist
      </span>
      <%= link_to 'Pedidos', pedidos_path, class: "hover:translate-x-2 duration-200"%>
      </il>
    <il class='flex flex-row gap-2'>
      <span class="material-symbols-outlined">
        local_shipping
      </span>
      <%= link_to 'Compras', compras_path, class: "hover:translate-x-2 duration-200"%>
      </il>
    <il class='flex flex-row gap-2'>
      <span class="material-symbols-outlined">
        inventory_2
      </span>
      <%= link_to 'Inventários', items_path, class: "hover:translate-x-2 duration-200"%>
      </il>
  </ul>
  <small class=' text-xs'>
    V-1.0
  </small>
</aside>
