<!DOCTYPE html>
<html>
  <head>
    <title>Almosheriff</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-screen h-screen">
    <main class="w-full h-full flex">
      <%= render "layouts/sidebar" %>
      <content class="flex flex-col w-full">
        <div style="background-color:#354c98;" class="text-stone-200 b-2 b-white font-light p-4 text-4xl">
          <image  href="https://icons8.com/icon/97654/sidebar">sidebar</image>
          <%= yield :title %>
        </div>
          <div style="background-color:#354c98;" class="p-4 h-full bg-stone-100">
            <%= yield %>
          </div>
      </content>
    </main>
  </body>
</html>
