<!DOCTYPE html>
<html>
  <head>
    <title>Almosheriff</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-screen flex overflow-x-hidden">
    <%= render 'layouts/sidebar' %>
    <content class=' ml-[10dvw] max-h-[100dvh] min-h-[100dvh] w-[89dvw]'>
      <%= render 'layouts/header' %>
      <%= yield %>
    </content>
  </body>
</html>
