<!DOCTYPE html>
<html>
  <head>
    <title>Almosheriff</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-screen h-screen">
    <main class="w-full h-full flex">
      <%= render "layouts/sidebar" %>
      <content class="flex flex-col w-full">
          <h1 style="background-color: #797f86;" class="text-stone-200 font-light p-4 text-4xl"><%= yield :title %></h1>
          <div class="p-4 h-full bg-stone-100">
            <%= yield %>
          </div>
      </content>
    </main>
  </body>
</html>
