<!DOCTYPE html>
<html>
  <head>
    <title>ErmApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='bg-white 2xl:w-screen h-screen flex max-2xl:flex-col 2xl:flex-row'>
    <%= render "layouts/sidebar" %>
    <main class='bg-white w-full'>
      <%= yield %>
    </main>
  </body>
</html>
